[attr]lfs filter=lfs diff=lfs merge=lfs -text

* text=auto eol=lf

*.jpg lfs
*.png lfs
*.webp lfs

*.ini        linguist-detectable
*.json       linguist-detectable
*.md         linguist-detectable
*.toml       linguist-detectable
*.xml        linguist-detectable

# SHELL -> Shell, json -> JSON
*.conf       linguist-language=INI
*.desktop    linguist-language=INI
*.dirs       linguist-language=Shell
*.jsonc      linguist-language=JSON
*.txt        linguist-language=INI
*.kdl        linguist-language=JSON
*config      linguist-language=INI
*sym*        linguist-language=Shell
.git*        linguist-language=Shell
aria2.conf   linguist-language=Shell
fonts.conf   linguist-language=XML
mpd.conf     linguist-language=Shell
sequences    linguist-vendored
**/dinit.d/* linguist-language=INI
**/git/*     linguist-language=Shell
**/scripts/* linguist-language=Shell
**/yash/*    linguist-language=Shell
**/zathura/* linguist-language=Shell
