[attr]lfs filter=lfs diff=lfs merge=lfs -text

* text=auto eol=lf

*.jpg lfs
*.png lfs
*.webp lfs

*.toml       linguist-detectable
*.conf       linguist-language=INI
.git*        linguist-language=Shell
.sym*        linguist-language=Shell
rc.local	 linguist-language=Shell
wifi		 linguist-language=Shell
**/lib/*	 linguist-language=Shell
**/dinit.d/* linguist-language=INI
