:root {
	/* background */
	--1d2021: #141416;
	--282828: #3d3744;
	--3c3836: #141416;
	--504945: #3d3744;

	/* font */
	--928374: #c7c9cc;
	--a89984: #eeeeee;
	--bdae93: #eeeeee;
	--8ec07c: #a0b4b8;
	--ebdbb2: #a0b4b8;

	/* code highlighter */
	--comment: #cda2d4;
	--default: #eeeeee;
	--keyword: #b8869b;
	--string: #a0b4b8;
}
