layout {
	background-color "#141416"
	border {
        active-color "#cda2d4"
        inactive-color "#3d3744"
        urgent-color "#a3697d"
    }
}

overview {
	backdrop-color "#141416"
}

recent-windows {
	highlight {
		active-color "#cda2d4"
		urgent-color "#a3697d"
	}
}

// screencasted window indicator
window-rule {
    match is-window-cast-target=true

    border {
    	active-color "#9aaa9e"
        inactive-color "#d1bea5"
    }
    tab-indicator {
        active-color "#9aaa9e"
        inactive-color "#d1bea5"
    }
}
