layout {
	background-color "#141416"
	focus-ring {
        active-color "#cda2d4"
        inactive-color "#3d3744"
    }
}

overview {
	backdrop-color "#141416"
}

recent-windows {
	highlight {
		active-color "#cda2d4"
		urgent-color "#a3697d"
	}
}
