#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    draw_borders: false,
    preview_label_style: (fg: "blue"),
    current_item_style: (fg: "black", bg: "yellow", modifiers: "Bold"),
    borders_style: (fg: "dark_gray"),
    scrollbar: None,
    symbols: (song: "", dir: "", playlist: "", marker: "M", ellipsis: "..."),

    // queue format
    song_table_format: [
        // artist - title
        (prop:
            (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title))]),
                default: (kind: Property(Filename))),
            alignment: Left,
            width: "50%"),
        // album   duration
        (prop: (kind: Group([
                    (kind: Property(Album)),
                    (kind: Text("  ")),
                    (kind: Property(Duration))]),
                default: (kind: Text("-"))),
            alignment: Right,
            width: "50%"),
    ],

    // progress bar
    progress_bar: (
        symbols: ["─", "╼", " "],
        track_style: (fg: "red"),
        elapsed_style: (fg: "red"),
        thumb_style: (fg: "red"),
    ),

    components: {
        "left": Pane(Property(
            content: [
                // player status
                (kind: Property(Status(StateV2(
                        playing_label: "Playing: ",
                        paused_label: "Paused: ",
                        stopped_label: ""))),
                    style: (fg: "yellow", modifiers: "Bold")),

                // title - artist // album
                (kind: Property(Song(Title)),
                    default: (kind: Text("unknown title"))),
                (kind: Text(" - ")),
                (kind: Property(Song(Artist)),
                    default: (kind: Text("unknown artist"))),
                (kind: Text(" // "), style: (fg: "red", modifiers: "Bold")),
                (kind: Property(Song(Album)),
                    default: (kind: Text("unknown album"))),
            ],
            align: Left,
            scroll_speed: 1,
        )),
        "right": Pane(Property(
            content: [
                // scan status
                (kind: Property(Widget(ScanStatus)), style: (fg: "red")),

                // [repeat/random/consume/single]
                (kind: Text(" [")),
                (kind: Property(Status(RepeatV2(
                    on_label: "z", off_label: "z",
                    on_style: (fg: "white", modifiers: "Bold"),
                    off_style: (fg: "dark_gray")))),
                ),
                (kind: Property(Status(RandomV2(
                    on_label: "x", off_label: "x",
                    on_style: (fg: "white", modifiers: "Bold"),
                    off_style: (fg: "dark_gray")))),
                ),
                (kind: Property(Status(ConsumeV2(
                    on_label: "c", off_label: "c", oneshot_label: "c",
                    on_style: (fg: "white", modifiers: "Bold"),
                    off_style: (fg: "dark_gray"),
                    oneshot_style: (fg: "red", modifiers: "Bold")))),
                ),
                (kind: Property(Status(SingleV2(
                    on_label: "v", off_label: "v", oneshot_label: "v",
                    on_style: (fg: "white", modifiers: "Bold"),
                    off_style: (fg: "dark_gray"),
                    oneshot_style: (fg: "red", modifiers: "Bold")))),
                ),
                (kind: Text("] ")),

                // kbps
                (kind: Text("[")),
                (kind: Property(Status(Bitrate)),
                    default: (kind: Text("unknown"))),
                (kind: Text(" kbps] ")),

                // [1:27/3:09]
                (kind: Text("["), style: (fg: "yellow")),
                (kind: Property(Status(Elapsed)), style: (fg: "yellow")),
                (kind: Text("/"), style: (fg: "yellow")),
                (kind: Property(Status(Duration)), style: (fg: "yellow")),
                (kind: Text("]"), style: (fg: "yellow")),
            ],
            align: Right,
        )),
    },

    layout: Split(
        direction: Vertical,
        panes: [
            (pane: Pane(TabContent), size: "100%"),
            (size: "1", pane: Pane(ProgressBar)),
            (size: "1", pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "100%", pane: Component("left")),
                    (size: "31", pane: Component("right")),
                ])
            ),
        ],
    ),
)
