@import "../../.cache/reclr/waybar.txt";

* {
    font-family: monospace;
    font-size: 11px;
    border: none;
    border-radius: 0;
}

window#waybar,
tooltip,
tooltip label {
    background-color: @background;
    color: @foreground;
}

tooltip label { margin: -5px -3px; }

#clock,
#mpris,
#custom-media,
#window,
window#waybar.empty #window,
#network,
#bluetooth,
#wireplumber,
#workspaces button,
#battery {
    padding: 0 12px;
    background-color: @background;
    color: @foreground;
    transition: none;
}

#workspaces button {
    color: @color8;
    margin: 5 3px;
    min-height: 0px;
    padding: 0 0px;
    transition: all 0.15s ease;
}

#workspaces button.focused {
    background-color: @color2;
    color: @foreground;
    border-radius: 10px;
    min-width: 30px;
}

#battery.warning { color: @color3; }
#battery.critical { color: @color1; }

#clock:hover,
#mpris:hover,
#custom-media:hover,
#window:hover,
#network:hover,
#bluetooth:hover,
#wireplumber:hover,
#battery:hover {
    background-color: shade(@background, 1.5);
}
