@import "../../.cache/reclr/waybar.css";

* {
    font-family: monospace;
    font-size: 13px;
    border: none;
    border-radius: 0;
    transition: none;
}

window#waybar,
tooltip,
tooltip label {
    background-color: alpha(@background, 0.9);
    color: @foreground;
}
tooltip label { margin: -5px -3px; }

#clock,
#mpris,
#custom-media,
#window,
window#waybar.empty #window,
#network,
#bluetooth,
#wireplumber,
#workspaces button,
#custom-screenrec,
#battery {
    padding: 0 12px;
    background-color: transparent;
    color: @foreground;
}

#tray {
    padding: 0 9px;
    background-color: shade(@background, 1.7);
}

#workspaces button {
    padding: 0 2px;
    color: shade(@foreground, 0.5);
}
#workspaces button.focused { color: @foreground; }

#custom-screenrec {
    color: @accent;
    animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

#battery.warning { color: @color3; }
#battery.critical { color: @color1; }

#clock:hover,
#mpris:hover,
#custom-media:hover,
#network:hover,
#bluetooth:hover,
#wireplumber:hover,
#workspaces button:hover,
#custom-screenrec:hover,
#battery:hover {
    background-color: shade(@background, 1.7);
}

@import "custom.css";
