prefer-no-csd

animations {
    slowdown 0.8
}

cursor {
    xcursor-theme "default"
    xcursor-size 16

    hide-when-typing
    hide-after-inactive-ms 5000
}

blur {
    passes 2
    offset 5
    noise 0.02
    saturation 1.5
}
