layout {
	background-color "{background}"
	border {
        active-color "{accent}"
        inactive-color "{color8}"
        urgent-color "{color1}"
    }
}

overview {
	backdrop-color "{background}"
}

recent-windows {
	highlight {
		active-color "{accent}"
		urgent-color "{color1}"
	}
}

// screencasted window indicator
window-rule {
    match is-window-cast-target=true

    border {
    	active-color "{color2}"
        inactive-color "{color3}"
    }
    tab-indicator {
        active-color "{color2}"
        inactive-color "{color3}"
    }
}
